server:
  port: 8080

spring:
  application:
    name: product-service

  data:
    mongodb:
      # root 게정을 사용하려면, 접근 시 authSource=admin 설정해야 한다.
      uri: "mongodb://root:password@localhost:27018/product-service?authSource=admin"
